<div class='box'>
<div class='banner'>
  <img src="<%= @flat.picture_url %>">
</div>
<h1><%= @flat.name %></h1>
<h4><%= @flat.address%></h4>

<h2>A bit more about this flat...</h2>
<p><%= @flat.description %></p>
</div>



